<div class="ct-content-wrapper">
  <div class="ct-page-wrapper container">
    <div class="ct-page-content">
      <%# content %>
      <h2 class="h1 "> Thanks for reaching out. </h2>
      <h5 class="ct-h-slab-caps ct-h-nomargin">Subtitle here or replace the h1</h5>
      <p>
      (more direction to help the guest visit more of the site here)
      
      </p>
    </div>
  </div>
</div>
