<div class="p-4"style="background-color: #666; margin: 5px;">
    <%= link_to notification.to_notification.message,  notification.to_notification.url %>
    <% contact_message =  notification.to_notification.params.fetch(:contact_message) %>      
    <% if contact_message.present? %>
        <%= "cm: #{contact_message}" %> <br />
    <% end %>

</div>

